html, body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#container {
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  background-color: gray;
  height: 100%;
}

.sidebar {
  background-color: lightgray;
  width: 200px;
}

.content {
  background-color: lightblue;
  flex-grow: 1;
}

.topbar {
  height: 100px;
}

/* RESPONSIVE */

@media screen and (max-width: 650px) {
  .flex-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
