.ReactTable .rt-tbody .rt-td {
  text-align: center;
}
.paragraph-box {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

li {
    font-size: 18px;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.margin-left {
    margin-left: 25px;
}

.right {
    width: 70%;
    float: right;
}

.column-left {
    margin-left: 25px;
    width: 48%;
    float: left;
}

.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}