.ReactTable .rt-tbody .rt-td {
  text-align: center;
}
.paragraph-box {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

li {
    font-size: 18px;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
