.ReactTable .rt-tbody .rt-td {
  text-align: center;
}
.paragraph-box {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

li {
    font-size: 18px;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.model-info {
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.model-item {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.section-start {
  margin-left: 30px;
  margin-right: 5px;
}


.margin-left {
    margin-left: 25px;
}

.right {
    width: 70%;
    float: right;
}

.column-left {
    margin-left: 25px;
    float: left;
    padding: 10px;
}

.column {
    float: left;
    width: 45%;
    padding:10px;
}

  /* Clear floats after the columns */
.row {
  display: flex;
  justify-content: center;
}

.contact-btn {
  cursor: pointer;
  font-weight: 700;
  padding-left:10px;
  padding-right:10px;
  color: #537c8e;
}

.contact-btn:hover {
  opacity: 0.5;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}

.percentage {
  font-weight: 700;
}
