.topbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Staatliches', cursive;
}

.title {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navitem {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.active {
  color: white;
}

.navitem:not(.active):hover {
  opacity: 0.5;
}

#nav-data.active {
  background-color: #85583f;
}
#nav-insights.active {
  background-color: #ceae7f;
}
#nav-howtouse.active {
  background-color: #2ebdbd;
}
#nav-about.active {
  background-color: #537c8e;
}
