.topbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 30px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navitem {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.active {
  background-color: #F0F0F0;
}

.navitem:not(.active):hover {
  opacity: 0.5;
}
